.Lesson{
    /* display: flex;
    justify-content:space-between; */
    /* position: relative; */
}


.lessons{
    /* display: flex;
    justify-content:flex-end; */
    /* position: absolute;
    margin-right: 120px; */

    display: grid;
    grid-template-columns: repeat(4, 15rem [col-start]);
    padding: 1rem;
    margin: 1rem;
  }
  
  
  
  
  
  
  /* teachers login */
  .loginTeachers{
    text-align: center;
    /* padding: 10px;
    margin: 10px; */
  }


  .lessonBox{
      border: darkblue 1px solid;
      padding: 1rem;
      margin: 1rem;
  }