.Lesson{
    display: flex;
    justify-content:space-between;
    /* position: relative; */
}


.lessons{
    /* display: flex;
    justify-content:flex-end; */
    /* position: absolute;
    margin-right: 120px; */

    display: grid;
    grid-template-columns: repeat(4, 15rem [col-start]);
    padding: 1rem;
    margin: 1rem;
}
  
  
  /* teachers login */
.loginTeachers{
    text-align: center;
    /* padding: 10px;
    margin: 10px; */
}


.lessonBox{
      border: grey 0.5px solid;
      padding: 1rem;
      margin: 1rem;
      position: relative;
      height: 10rem;
}
.lessonBox:hover{
  box-shadow: 1px 1px 2px grey, 0 0 5px grey, 0 0 1px lightblue;
}

.lessonBox button{
  color:seashell;
  color:whitesmoke;
  border: none;

  /* color: red;
  border: none; */
  background: none;
  text-align:right;
  position: absolute;
  right: 10px;
  transition: 0.5s;
}
.lessonBox button:hover{
  color: red;
  /* color: rgb(211, 31, 85); */
}

.FavLesson{
  display: grid;
    grid-template-columns: repeat(4, 15rem [col-start]);
    padding: 1rem;
    margin: 1rem;
}

.FavLessonBox{
    border: grey 0.5px solid;
    padding: 1rem;
    margin: 1rem;
    position: relative;
}
.FavLessonBox:hover{
  box-shadow: 1px 1px 2px grey, 0 0 5px grey, 0 0 1px lightblue;
}



.lessonBoxBtn{
  border: none;
  background: none;
  text-align:right;
  position: absolute;
  right: 10px;
  transition: 0.5s;
}
.lessonBoxBtn:hover{
  color:red;
}

/* .form-container{
  text-align: center;
  display: flex;
  justify-content: end;
} */
.form-container h2{
  text-align: center;
  
}

.addNewLesson{
  /* display: flex;
  justify-content: space-around; */
  height: 83vh;
  padding: 2rem;
}

.addNewLesson form{
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  /* justify-content: space-around; */
  margin: 10px;
}


.form-container .addInput{
  
  /* background:none; */
  
  text-align: center;
  margin-top: 2rem;
  height: 2rem;
  transition: 0.5s;
  width: 30rem;
  margin-left: 28rem;
}

.form-container #description{
  
  /* background:none; */
  
  text-align: center;
  margin-top: 2rem;
  width: 30rem;
  height: 10rem;
  margin-left: 28rem;
  transition: 0.5s;
}

.form-container .addBtn{
  width: 7rem;
  /* background:none; */
  border: none;
  text-align: center;
  margin-top: 2rem;
  margin-left: 40rem;
  height: 2rem;
  transition: 0.5s;
}

.form-container .addBtn:hover{
  background:grey
  
}

.deletBtn{
  color: black;
  text-align: center;
}