.TeacherMe{
    /* border: black 1px solid; */
    width: 90vw;
    display: flex;
    padding-left: 3rem;
    text-align: center;
}

.TeacherMeInfo{
    padding-top: 3rem;
    text-align: center;
    /* padding-left: 22rem; */
}
.myLesson{
    /* text-align: center; */
    padding-left: 2rem;
    padding-top: 3rem;
}