.TeacherMe{
    /* border: black 1px solid; */
    width: 90vw;
    display: flex;
    padding-left: 3rem;
    text-align: center;
}

.TeacherMeInfo{
    padding-top: 3rem;
    text-align: center;
    /* padding-left: 22rem; */
}
.myLesson{
    /* text-align: center; */
    padding-left: 2rem;
    padding-top: 3rem;
}

.TeacherMe input{
    background: none;
    border: black 1px solid;
    margin: 1px;
    padding: 2px;
    border-radius: 2px;
}

.deletePhoto{
    font-size: 44px;
}

.TeacherMe input:hover{
    background: none;
    border: black 1px solid;
    margin: 1px;
    padding: 2px;
    border-radius: 2px;
}