@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

:root {
    /* --main-bg-color: cornflowerblue; */
    --main-bg-color: #657dc4;
    --hover-bg-color: #223672;
    --second-bg-color: #838ed9;
    --back-bg-color: #ece8e5;
    --third-bg-color: #f59292;
    

  }

* {
    font-family: 'Lato', sans-serif;
}


.Header{
    display: flex;
    justify-content: center;
    background: var(--second-bg-color);
    position: relative;
    color: black;
    height: 6vh;
}

.Header ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.Header li{
   padding: 5px;
    /* display: flex; */
}

.homeLink {
    position: absolute;
    left: 0.6rem;
    text-decoration: none;
    color: black;
}
.LogoutBtn {
    /* position: absolute;
    left: 7rem;
    padding-left: 85vw;
    position: absolute;
    height: 20px; */
    width: 5vw;
    /* border: black 1px solid; */
    text-align: center;
    padding: 5px;
    position: absolute;
    right: 22px;
    color: black;
    background: none;
    /* border: black 1px solid;
    border-radius: 8px; */
    border:none;
    margin-top: 2px;
}  
 .LogoutBtn:hover{
    /* background: orange; */
    color: var(--hover-bg-color);
} 

.HeaderHome{
    width: 10vw;
    /* border: black 1px solid; */
    text-align: center;
    padding: 5px;
    position: absolute;
    left: 2px;
    color: black;
    font-size: 16px;
}

.SigninLogin{
    padding-left: 85vw;
    position: absolute;
    top: -1rem;
    font-size: 16px;
}
.SigninLogin li{

    text-decoration: none;
}

.headerLink{
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.headerLink:hover{
    color: var(--hover-bg-color);
    /* border: darkblue 1px solid; */
}

/* .StudentHeader ul{
    
    display: flex;
    justify-content: center;
} */

.StudentHeader{
    
    display: flex;
    justify-content: center;
}
.StudentHeader li{
    list-style-type: none;
    /* display: flex;
    justify-content: center; */
    color: black;
    transition: 0.5s;
}

.StudentHeader li:hover{
    color: var(--hover-bg-color);
}




.footer{
    height: 8vh;
    background: var(--main-bg-color);
    text-align: center;
    
}

.footer ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    transition: 0.5s;
}

.footer li{
    padding: 10px;
    font-size: 22px;
}

.footer li{
    padding: 10px;
    font-size: 22px;
    transition: 0.5s;
}

.footer .fab{
    color: var(--third-bg-color);
    transition: 0.5s;
}

.footer .fa-facebook:hover{
    color:rgb(29, 77, 117);
}

.footer .fa-linkedin:hover{
    color:rgb(4, 41, 71);
}

.footer .fa-instagram:hover{
    color: rgb(201, 27, 201);
}

/* .LogoutBtn button{
    position: absolute;
    left: 7rem;
    padding-left: 85vw;
    position: absolute;
    color: darkgoldenrod;
    height: 20px;
}  */


