.Header{
    display: flex;
    justify-content: center;
    background: cornflowerblue;
    position: relative;
}

.Header ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.Header li{
   padding: 5px;
    /* display: flex; */
}

.homeLink{
    position: absolute;
    left: 0.6rem;
}

.SigninLogin{
    padding-left: 85vw;
    position: absolute;
}

.headerLink{
    text-decoration: none;
    
    
}

.headerLink:hover{
    color: rgb(139, 0, 93);
    border: darkblue 1px solid;
}

/* .LogoutBtn button{
    position: absolute;
    left: 7rem;
    padding-left: 85vw;
    position: absolute;
    color: darkgoldenrod;
    height: 20px;
} */
/* .LogoutBtn:hover{
    background: orange;
} */